<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTDInteractionWindowsFormApp.Properties.Settings.SyntheticMassConnectionString"
            connectionString="Data Source=G5X26H2-KLT;Initial Catalog=SyntheticMass;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>